{% extends 'base.html.twig' %}

{% block body %}
    <h1>Question creation</h1>

    {{ form_start(form) }}
    <div class="row">
      <div class="col-md-8">
        {{ form_widget(form.text) }}
      </div>
    </div>
        <input type="submit" value="Create" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('question_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
